<div style={{style}}><a href="/templates">Templates</a>
<a class="page_link" href="/embeddedness">Embeddedness</a>
<a href="/context">Context</a>
<a href="/loop">Loop</a>
<a href="/comments">Comments</a>
<a href="/helper">Helper</a>
<a href="/block-helper">Block Helper</a>
<a href="/partials">Partials</a>
</div>

