<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script defr src="/dist/app.js"></script>
     <link rel="stylesheet" href="styles/{{style}}">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
